<div class="row d-flex justify-content-center align-items-center">
    <div class="col-8">
        <div class="text-start">
            <div class="w-100 py-5">
                <h2 class="color-adireto">Produtos</h2>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center" style="min-height: 33vh;">
    <div class="col-8">
        <div class="text-start">
            {% for produto in produtos %}
            <div class="card shadow d-inline-block my-2 mx-1" style="width: 18rem;">
                <img class="card-img-top" height="200" src="{{produto.arquivo}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title color-adireto fw-bold">{{produto.nome_produto}}</h4>
                    <p class="card-text card-text-limit">{{produto.descricao}}</p>
                    <span class="fw-medium">R${{produto.valor_produto}}</span>
                    <div class="w-100 text-end">
                        <a href="/projeto_carrinho_adireto/produto?produto={{produto.id_produto}}"
                            class="bg-adireto px-2 py-1 rounded text-white text-decoration-none border-0">
                            Ver produto
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>